# Mac
.DS_Store

# Eclipse
bin/
.settings/
.classpath

# Intellij
/.idea/
/classes/
src/main/scala/META-INF/

# Maven
log/
target/

# Gradle
/.gradle/
/build/
pom.xml

# sbt
.cache
src_managed/
project/boot/
project/target/
project/plugins/project/
logs/
project/.sbtserver
.sbtserver/
.cache-main
.cache-tests
.history
.lib/
lib/*.tmp
dist/*
target/
lib_managed/
.MF

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sonar
/.sonar/

# Application
/ChinaSchach.log
